{% extends 'home.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block body %}
    <h1>Emprunt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emprunt.id }}</td>
            </tr>
            <tr>
                <th>Borrowing_date</th>
                <td>{{ emprunt.borrowingDate ? emprunt.borrowingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Returning_date</th>
                <td>{{ emprunt.returningDate ? emprunt.returningDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ emprunt.status ? 'Emprunt' : 'Retour' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_emprunt_index') }}">back to list</a>

    <a href="{{ path('app_emprunt_edit', {'id': emprunt.id}) }}">edit</a>

    {{ include('emprunt/_delete_form.html.twig') }}
{% endblock %}
